.idea/
clones/
jdk/
libs/
local_tests/
output/
target/
walk_results/
walk-results/
working_dir/
working-dir/
working-dir-static/
.venv/
*-dataset/**/*.jar
*.iml
*.env
.vscode

paper/
roseau/

.DS_Store
.ipynb_checkpoints/
